body {
    margin: 0;
}

header {
    background-image: url(/img/banner.png);
    background-color: #1f1f1f;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .click {
        margin-right: 85px;
        margin-top: 20px;
        color: white;
        font-size: 20px;
    }

    nav {
        display: flex;
        justify-content: space-between;


        .logo {
            margin-left: 85px;
            margin-top: 30px;
        }

        ul {

            display: flex;
            list-style: none;
            font-size: 20px;

            li {
                padding: 20px;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .container {


        .head {

            max-width: 43%;
            margin-left: 250px;

            .custom {
                border-radius: 25px;
                background-color: #615Cfd;
                padding-left: 15px;
                padding-right: 15px;

                p {

                    color: white;
                }
            }

            h1 {
                font-size: 60px;
                color: white;

            }


        }
    }
}

.services {
    padding-top: 100px;
    width: 100%;


    .head {
        text-align: center;
        margin-bottom: 73px;

        p {
            color: blue;
            font-size: 17px;
            font-family: sans-serif;
        }

        h1 {
            position: relative;
            left: 33%;
            color: black;
            font-size: 44px;
            font-weight: 400;
            padding-bottom: 15px;
            width: 35%;
        }
    }

    .boxs {
        display: flex;
        justify-content: center;
        margin-bottom: 150px;

        .box {
            max-width: 22%;
            border: 2px solid rgb(204, 204, 204);
            text-align: center;
            margin-left: 25px;
            border-radius: 6px;
            padding: 0px 19px 0px 19px;
        }

        .box:hover {
            border-color: blue;
        }

        .boxabout {
            padding: 39px;

            h1 {
                color: #000000;
                font-size: 22px;
                font-weight: 400;
                margin-top: 29px;
                margin-bottom: 13px;
            }

            p {
                color: #555555;
                font-size: 17px;
                font-weight: 400;
                line-height: 30px;
            }
        }

    }
}

.aboutus {
    display: flex;
    background-color: black;
    position: relative;


    .image {
        img {
            height: 100%;
            max-width: 100%;

        }
    }

    .title {
        color: white;
        max-width: 40%;
        margin-left: 8%;
        margin-top: 7%;

        h5 {
            font-size: 15px;
            margin-bottom: 25px;
        }

        h1 {
            font-size: 35px;
            margin-bottom: 70px;
        }

        p {
            font-size: 18px;
            max-width: 75%;
            line-height: 30px;

        }


        button {
            background-color: blue;
            color: white;
            border: none;
            border-radius: 30px;
            padding: 20px 45px 20px 45px;
        }
    }
}

.FeaturedWorks {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;

    .Worksabout {
        margin-bottom: 100px;

        h1 {
            font-size: 40px;
            line-height: 60px;
        }

        h2 {
            position: relative;
            left: 33%;
            font-size: 19px;
            font-weight: 500;
            line-height: 30px;
            color: #626262;
            max-width: 35%;

        }
    }

    .images {
        img {
            padding-left: 15px;
            padding-right: 15px;
        }

        .image1 {
            margin-bottom: 30px;
        }
    }
}

.howweworks {
    display: flex;
    width: 100%;

    .workabout {
        position: relative;
        left: 7%;
        margin: auto;
        width: 25%;

        h1 {
            font-size: 50px;
            font-weight: 400;
        }

        p {
            font-size: 18px;
            font-weight: 400;
        }

        .workbutton {
            display: flex;

            h2 {
                font-size: 20px;
                padding-left: 10px;
                line-height: 25px;
                font-weight: 500;
            }

            button {
                width: 60px;
                height: 60px;
                border: none;
                border-radius: 50%;
                background: #2e27f7;
                line-height: 60px;
                color: white;
            }
        }
    }

    .workimage {
        img {
            position: relative;
            left: 25%;
            max-width: 90%;
            border-radius: 20px;
        }
    }
}

.ourteam {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: center;

    .teamabout {
        margin-bottom: 90px;

        h1 {
            color: rgb(61, 61, 61);
            font-size: 35px;
        }

        h2 {
            font-size: 18px;
            color: #9d9d9d;
            font-weight: 500;
        }
    }

    .teamimages {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h1 {
            font-size: 20px;
            margin-bottom: 7px;
            font-weight: 500;
        }

        h2 {
            font-size: 16px;
            color: #626262;
            font-weight: 500
        }

        img {
            padding: 20px;
        }
    }
}

.Donec {
    color: white;
    padding: 140px;
    background-image: url("https://preview.colorlib.com/theme/startup2/img/testmonial/banner.png.webp");
    background-position: center center;



    .donecabout {
        text-align: center;
        width: 62%;
        margin: auto;

        p {
            line-height: 35px;
            font-size: 24px;
        }

        h1 {
            font-size: 18px;
        }

        h2 {
            font-size: 16px;
        }

    }
}

.form {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;

    .formabout {
        width: 33%;
        margin: auto;
        margin-bottom: 60px;

        h1 {
            font-weight: 300;
            font-size: 40px;
        }

        h2 {
            font-weight: 400;
            font-size: 16px;
            color: #464646;
        }
    }

    .inputs {
        width: 40%;
        margin: auto;

        .inputs1 {
            width: 100%;
            margin: auto;
            display: flex;


            .input1 {
                width: 100%;
                padding-right: 15px;
            }

            .input2 {
                width: 100%;
                padding-left: 15px;
            }
        }


        .inputs3 {

            input {
                height: 148px;
            }
        }

        .formbutton {
            button {
                width: 100%;
                padding: 15px 55px 12px 55px;
                border-radius: 30px;
                border: none;
                background: #2018f4;
                font-size: 16px;
                text-align: center;
                color: white;
            }
        }

        input {
            width: 100%;
            border: 1.5px solid gray;
            border-radius: 30px;
            margin-bottom: 25px;
            height: 50px;

        }
    }
}

footer {
    background: #1F1F1F;


    .container2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 160px;


        .nav2 {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            ul {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                font-size: 18px;
                padding-right: 110px;

                a {
                    color: white;
                    text-decoration: none;
                    margin-right: 46px;
                }
            }
        }

        .icons {
            i {
                border-radius: 100%;
                font-size: 16px;
                border: 1px solid white;
                line-height: 40px;
                margin-right: 7px;
                color: white;
                width: 40px;
                height: 40px;
            }
        }
    }

    .copy {

        padding-bottom: 25px;
        text-align: center;

        h2 {
            font-size: 15px;
            color: #a9a9a9;
        }

        a {
            text-decoration: none;
            color: rgb(70, 70, 167);
        }
    }
}